/* Font colors */
$base-font-size:15px ;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;
$base-font-color:#666666;
$base-font-line-height:1.7em;

/* Background colors */
$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;
$active-background:#666;
$active-color:#fff;

/* Table colors */
$border-color-default:#ddd;
$background-color-odd:#f9f9f9;

/* showcase area */
$red-color:#ff6600;
$amber-color:#ff9900;
$green-color:light-green;
$green2-color:dark-green;

/* offset: margins & paddings */
$offset-0:0px;
$offset-1:10px;
$offset-2:20px;
$offset-3:30px;
$offset-4:40px;